<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://raw.github.com/nathansgreen/logback-XSD/master/src/main/xsd/logback.xsd">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level []-15thread] [%logger] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.sangupta" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache.commons.httpclient" level="error" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
